@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 400px;
    height: 600px;
}

.btm-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #333;
}

.btm-nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    flex: 1;  /* Ensure buttons are evenly spaced */
    border: none;  /* Remove default button border */
    background: none;  /* Remove default button background */
    padding: 10px 0;  /* Adjust padding */
}

.btm-nav button:hover {
    color: #fff;
    cursor: pointer;  /* Change cursor on hover */
}

.btm-nav svg {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}
